<div class="border">

  <div class="hintergrund">

    <div class="foto">
      <img class="foto_1" src="../assets/imgs/so_4.jpg">
      <img class="foto_2" src="../assets/imgs/so.jpg">
      <img class="foto_3" src="../assets/imgs/so_2.jpg">
      <img class="foto_4" src="../assets/imgs/so_5.jpg">
      <video class="foto_5" controls><source src="../assets/vedio/Video_new.mov" type="Video/mp4"></video>


    </div>
     <div style="width:100%;height:160px;">

          <div  style="width: 100%;height:80px;"> 
             <h1 class="name">Sophie 🤍</h1>
             <h3 class="work">bvdk - Sportler/in 🏋 Deutschland</h3>
          </div>
  
        <div class="media">

          <a href="https://instagram.com/sophiesch0?igshid=OGQ5ZDc2ODk2ZA== " target="_blank">
            <img class="instagram" src="../assets/imgs/instagram_logo.png" alt="Instagram">
          </a>

          <a href="https://www.tiktok.com/@soophiesch0?_t=8hHmpgQLFpI&_r=1" target="_blank">
            <img class="tiktok" src="../assets/imgs/tiktok_logo.png" alt="TikTok">
          </a>

          <a href="https://calendly.com/sophie2005schmidtke/30min?month=2023-12" target="_blank">
            <img class="social-icon YouTube" src="../assets/imgs/zoom.png" alt="YouTube">
          </a>
          
          <a href="YOUR_YOUTUBE_CHANNEL_URL" target="_blank">
            <img class="twitter" src="../assets/imgs/twitter.png" alt="twitter">
          </a>
          
          <a href="https://t.snapchat.com/IufrHlUm " target="_blank">
            <img class="Snapchat" src="../assets/imgs/snap-png.png" alt="Snapchat">
          </a>
          
        
        </div>
      </div>
     </div>

</div>



