<div class="border">

  <div class="hintergrund">

    <div class="foto">
      <img class="foto_1" src="../assets/imgs/foto.png" >
      <img class="foto_2" src="../assets/imgs/foto.png">
      <img class="foto_3" src="../assets/imgs/foto.png">
      <img class="foto_4" src="../assets/imgs/foto.png">
      <video class="foto_5" controls><source src="../assets/vedio/Video.mp4" type="video/mp4"></video>


    </div>
     <div style="width:100%;height:160px;">

          <div  style="width: 100%;height:80px;"> 
             <h1 class="name">Mlk Alsaadi</h1>
             <h3 class="work">Rapper - Sportler/in 🏋 Syria</h3>
          </div>
  
        <div class="media">

          <a href="https://instagram.com/mlk_alsaadi?igshid=MzRlODBiNWFlZA==" target="_blank">
            <img class="instagram" src="../assets/imgs/instagram_logo.png" alt="Instagram">
          </a>

          <a href="https://www.tiktok.com/@usermutazaluwaidat?_t=8gjqKxbrX1N&_r=1" target="_blank">
            <img class="tiktok" src="../assets/imgs/tiktok_logo.png" alt="TikTok">
          </a>

          <a href="YOUR_YOUTUBE_CHANNEL_URL" target="_blank">
            <img class="YouTube" src="../assets/imgs/youtube.png" alt="YouTube">
          </a>

          <a href="YOUR_YOUTUBE_CHANNEL_URL" target="_blank">
            <img class="twitter" src="../assets/imgs/twitter.png" alt="twitter">
          </a>
          
          <a href="DEINE_SNAPCHAT_URL" target="_blank">
            <img class="Snapchat" src="../assets/imgs/snap-png.png" alt="Snapchat">
          </a>
          
        
        </div>
      </div>
     </div>

</div>






